{% extends "base/base.html" %}

{% block title %}Home{% endblock title %}

{% block main%}
            <!-- Main Section -->

            <main class="m-sec">
                <div class="row">

                    <div id="head-sec" class="col-lg-6 col-md-12 col-sm-12">
                        <h6 class="fs-5 fw-bold" style="color:rgb(199, 129, 0);">Lorem ipsum dolor</h6>
                        <h1 class="fw-bold" id="heading">Book A Conference</h1>
                        <button id="btn1" class="rounded">Read More
                            <svg style="height: 15px; width:20px" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 448 512">
                                <path
                                    d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
                            </svg>
                        </button>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 mt-md-4 mt-sm-4">
                        <img src="https://dummyimage.com/500x350/f5f2f5/fff" style="width: 100%;" alt="img">
                    </div>

                </div>

            </main>
        </div>
    </div>

    <!-- About -->
    <div class="container">
        <main id="m-sec2">
            <div class="row">
                <div class="col-lg-2 d-flex flex-column align-items-center justify-content-center">
                    <h1 class="fw-bold">180+</h1>
                    <h6>Get International</h6>
                </div>
                <div class="col-lg-4">
                    <img src="https://dummyimage.com/350x300/f5f2f5/fff" alt="img" style="width: 100%;">
                </div>
                <div class="col-lg-6 mt-4">
                    <h6 class="fs-5 fw-bold" style="color:rgb(199, 129, 0);">Company</h6>
                    <h1 class="fw-bold" id="heading">Lorem ipsum dolor</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis deserunt vel, explicabo autem
                        numquam cum recusandae amet quaerat sint sed doloremque atque, tenetur labore? Mollitia dolores
                        libero voluptas omnis. Voluptatibus.</p>
                    <button id="btn1" class="rounded">Read More
                        <svg style="height: 15px; width:20px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path
                                d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
                        </svg>
                    </button>
                </div>
            </div>
        </main>
    </div>
    <!-- Contact  -->

    <div id="cont-sec" class="d-flex justify-content-around align-items-center bg-light rounded-2"
        style="margin-bottom: 100px;">
        <div>
            <h1>Need any Contact with US</h1>
        </div>
        <div class="d-flex">
            <span class="me-3">
            <svg style="height: 30px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                    d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z" />
            </svg>
        </span>
            <h3 > +123(445) 564 543</h3>
        </div>
    </div>

    <section class="bg-light" style="padding-top:100px; height:100%; margin-bottom:100px;">
        <div class="mb-5">
            <h6 class="text-center" style="color:rgb(199, 129, 0)">Conference Booking</h6>
            <h1 class="text-center">Book a Conference for you bussiness meeting and others. </h1>
        </div>
        <div class="container" style="background-color:white">
            <form action="#" method="post">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12"
                        style="padding: 24px 40px; border-right: 1px solid #c0bfbf;">
                        <p>Start time
                            <input type="time" name="starttime" id="startime"
                                style="outline: none; border: none; width: 100%;">
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12"
                        style="padding: 24px 40px; border-right: 1px solid #c0bfbf;">
                        <p>End time
                            <input type="time" name="endtime" id="endtime"
                                style="outline: none; border: none; width: 100%;">
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12"
                        style="padding: 24px 40px; border-right: 1px solid #c0bfbf;">
                        <p>
                            <span>Day</span>
                            <select name="day" id="Days" class="d-block w-100 mt-2" style="outline: none; border:none;">
                                <option value="Monday">Monday</option>
                                <option value="Tuesday">Tuesday</option>
                                <option value="Wednessday">Wednessday</option>
                                <option value="Thursday">Thursday</option>
                                <option value="Friday">Friday</option>
                                <option value="Saturday">Saturday</option>
                                <option value="Sunday">Sunday</option>
                            </select>
                        </p>

                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12" style="padding: 0px 0px;">
                        <button class="w-100 h-100"
                            style="font-weight: 700; text-align:center; padding: 50px 40px; font-size: 16px; outline:none; border:none; background-color:rgb(199, 129, 0); color:white;">Book
                            now</button>
                    </div>
                </div>
            </form>

        </div>
        <div class="container" style="margin-top: 100px;">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12" style="padding-top:50px">
                    <h6 class="mb-2" style="color:rgb(199, 129, 0)">Our Features</h6>
                    <h1>Lorem Ipsum</h1>
                    <p class="mb-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>

                </div>

                <div class="col-lg-4 col-md-12 col-sm-12 mt-5"><img style="width:100%"
                        src="https://dummyimage.com/400x300/f5f2f5/fff" alt="logo"></div>
                <div class="col-lg-4 col-md-6 col-sm-12 ps-4 mt-5">
                    <div class="d-flex justify-content-between mb-4 ">
                        <div class="me-4 mt-2">
                            <svg style="height: 20px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path
                                    d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z" />
                            </svg>
                        </div>
                        <div>
                            <h5>Feature 1</h5>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <div class="d-flex justify-content-between">
                            <div class="me-4 mt-2">
                                <svg style="height: 20px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path
                                        d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z" />
                                </svg>
                            </div>
                            <div>
                                <h5>Feature 1</h5>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <div class="d-flex justify-content-between">
                            <div class="me-4 mt-2">
                                <svg style="height: 20px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path
                                        d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z" />
                                </svg>
                            </div>
                            <div>
                                <h5>Feature 1</h5>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock main%}
