@font-face {
    font-family: lato;
    src: url(../Lato-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lato;
}

.sign-page {
    height: 38rem;
    width: 33rem;
    margin: auto;
    background-color: white;
    border-radius: 2px;
    box-shadow: rgba(229, 240, 250, 0.25) 0px 54px 55px, rgba(250, 252, 255, 0.12) 0px -12px 30px, rgba(227, 229, 232, 0.12) 0px 4px 6px, rgba(238, 240, 241, 0.17) 0px 12px 13px, rgba(203, 205, 208, 0.09) 0px -3px 5px;
}

.inp-f {
    height: 2.5rem;
    margin: auto;
    width: 29rem;
    outline: none;
  
}
.input-hd{
    border:2px solid rgb(228, 226, 226); outline:none;
}
.n-field {
    height: 2.5rem;
    outline: none;
    
}
.input-hd:focus{
    border: 2px solid rgb(199, 129, 0);
}

#check-b {
    margin-left: 33px;
    margin-top: 20px;
}

.s-btn {
    /* margin-top: 10px; */
    width: 29rem;
    border-radius: 3px;
    outline: none;
    border: none;
    height: 2.5rem;
    font-size: larger;
}

@media only screen and (max-width:991px) and (min-width:567px) {
    .n-field {
        width: 88%;
        margin-top: 12px;
        /* margin: 0; */
    }

    .sign-page {
        height: 41rem;
        /* width: 28rem; */
    }

    #check-b {
        margin-left: 33px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 567px) and (min-width: 497px) {
    .sign-page {
        height: 41rem;
        width: 27rem;
    }

    #check-b {
        margin-left: 25px;
        margin-top: 20px;
    }

    .n-field {
        width: 88%;
        margin-top: 12px;
    }
    .ph-h{
        padding: 0px 5px !important;
    }

    .inp-f {

        width: 88%;

    }

    .s-btn {
        /* margin-top: 10px; */
        width: 88%;

    }



}

@media only screen and (max-width: 497px) and (min-width: 350px) {
    .sign-page {
        height: 41rem;
        width: 24rem;
    }

    .inp-f {

        width: 88%;

    }

    .s-btn {
        /* margin-top: 10px; */
        width: 22rem;

    }

    #check-b {
        margin-left: 20px;
        margin-top: 20px;
    }

    .n-field {
        width: 88%;
        margin-top: 12px;
    }

    .s-btn {
        /* margin-top: 10px; */
        width: 88%;

    }

}

@media only screen and (max-width: 435px) and (min-width: 375px) {
    .sign-page {
        height: 41rem;
        width: 22rem;
    }

    .inp-f {

        width: 88%;

    }

    .s-btn {
        /* margin-top: 10px; */
        width: 22rem;

    }

    #check-b {
        margin-left: 20px;
        margin-top: 20px;
    }

    .n-field {
        width: 88%;
        margin-top: 12px;
    }

    .s-btn {
        /* margin-top: 10px; */
        width: 88%;

    }

}

@media only screen and (max-width: 375px) and (min-width: 200px) {
    .sign-page {
        height: 41rem;
        width: 20rem;
    }

    .inp-f {

        width: 88%;

    }

    .s-btn {
        /* margin-top: 10px; */
        width: 22rem;

    }

    #check-b {
        margin-left: 20px;
        margin-top: 20px;
    }

    .n-field {
        width: 88%;
        margin-top: 12px;
    }

    .s-btn {
        /* margin-top: 10px; */
        width: 88%;

    }

}

.g-btn {
    width: 88%;
    border-radius: 3px;
    outline: none;
    border: none;
    height: 2.5rem;

}


/* Login Page Css */
.log-page {
    height: 31rem;
    width: 30rem;
    margin: auto;
    background-color: white;
    border-radius: 2px;
    box-shadow: rgba(229, 240, 250, 0.25) 0px 54px 55px, rgba(250, 252, 255, 0.12) 0px -12px 30px, rgba(227, 229, 232, 0.12) 0px 4px 6px, rgba(238, 240, 241, 0.17) 0px 12px 13px, rgba(203, 205, 208, 0.09) 0px -3px 5px;
}
.otp-page {
    height: 20rem;
    width: 30rem;
    margin: auto;
    background-color: white;
    border-radius: 2px;
    box-shadow: rgba(229, 240, 250, 0.25) 0px 54px 55px, rgba(250, 252, 255, 0.12) 0px -12px 30px, rgba(227, 229, 232, 0.12) 0px 4px 6px, rgba(238, 240, 241, 0.17) 0px 12px 13px, rgba(203, 205, 208, 0.09) 0px -3px 5px;
}

.l-inp-f {
    height: 2.5rem;
    margin: auto;
    width: 90%;
    outline: none;
    
}

.l-btn {
    width: 90%;
    border-radius: 3px;
    outline: none;
    border: none;
    height: 2.5rem;
    font-size: larger;
}

#check-l {
    margin-left: 24px;
    margin-top: 20px;
}


@media only screen and (max-width:991px) and (min-width:567px) {


    .log-page {
        height: 27rem;
        width: 27rem;
    }

    #check-l {
        margin-left: 24px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 567px) and (min-width: 497px) {
    .log-page {
        height: 28rem;
        width: 25rem;
    }

    #check-l {
        margin-left: 25px;
        margin-top: 20px;
    }

    .l-inp-f {

        width: 90%;

    }

    .l-btn {
        /* margin-top: 10px; */
        width: 90%;

    }



}

@media only screen and (max-width: 497px) and (min-width: 383px) {
    .log-page {
        height: 27rem;
        width: 22rem;
    }

    .l-inp-f {

        width: 90%;

    }

    .l-btn {
        /* margin-top: 10px; */
        width: 90%;

    }

    #check-l {
        margin-left: 20px;
        margin-top: 20px;
    }



    .l-btn {
        /* margin-top: 10px; */
        width: 90%;

    }

}

@media only screen and (max-width: 383px) and (min-width: 346px) {
    .log-page {
        height: 28rem;
        width: 20rem;
    }

    .l-inp-f {

        width: 88%;

    }



    #check-l {
        margin-left: 20px;
        margin-top: 20px;
    }




}

@media only screen and (max-width: 346px) and (min-width: 293px) {
    .log-page {
        height: 28rem;
        width: 17rem;
    }

    .l-inp-f {

        width: 88%;

    }



    #check-l {
        margin-left: 20px;
        margin-top: 20px;
    }




}

@media only screen and (max-width: 293px) and (min-width: 240px) {
    .log-page {
        height: 28rem;
        width: 15rem;
    }

    .l-inp-f {

        width: 88%;

    }



    #check-l {
        margin-left: 20px;
        margin-top: 20px;
    }




}