{% extends "core_1/app/base.html" %}
{% block title %}About Us{% endblock title %}
{% block content %}
{% load static %}
    <main class="about-sec m-auto">
        <h2 class="text-center text-white">About Us</h2>
        <h6 class="text-center text-white">Home- <span style="color: rgb(199, 129, 0);">About Us</span></h6>
    </main>



    <main class="about-sec2 container">
        <div class="d-flex flex-column justify-content-center align-items-center flex-wrap text-sec">
            <h6 style="color:rgb(199, 129, 0) ;">Lorem Ipsum</h6>
            <h1>Lorem Ipsum Lorem</h1>
            <p class="w-75 text-start mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic perferendis
                aperiam quibusdam rem nostrum, impedit fugit voluptatem consectetur dolore? Quod maiores deleniti odio
                mollitia sequi consequuntur quisquam officia tenetur. Repellat. Quod maiores deleniti odio mollitia
                sequi consequuntur quisquam officia tenetur. Repellat.</p>
        </div>
        <div>
            <img style="width: 100%; background-size: cover; background-position: center; margin-top: 25px;"
                src="https://dummyimage.com/1000x320/484848/000000" alt="img2">
        </div>

        <div class="d-flex justify-content-between flex-wrap" id="card-section">

            <div class="card ab-img-card" style="width: 15rem;">
                <img src="https://dummyimage.com/90x70/484848/000000" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lorem Ipsum</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>

                </div>
            </div>

            <div class="card ab-img-card" style="width: 15rem;">
                <img src="https://dummyimage.com/90x70/484848/000000" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lorem Ipsum</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>

                </div>
            </div>


            <div class="card ab-img-card" style="width: 15rem;">
                <img src="https://dummyimage.com/90x70/484848/000000" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lorem Ipsum</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>

                </div>
            </div>

            <div class="card ab-img-card" style="width: 15rem;" id="card-sec">
                <img src="https://dummyimage.com/90x70/484848/000000" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lorem Ipsum</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>

                </div>
            </div>

        </div>

    </main>

    <div class="d-flex flex-wrap justify-content-between img-sec">
        <div class="ab-img">
            <img src="https://dummyimage.com/250x260/484848/fff" alt="">
        </div>
        <div class="ab-img">
            <img src="https://dummyimage.com/250x260/484848/fff" alt="">
        </div>
        <div class="ab-img">
            <img src="https://dummyimage.com/250x260/484848/fff" alt="">
        </div>
        <div class="ab-img">
            <img src="https://dummyimage.com/250x260/484848/fff" alt="">
        </div>
    </div>

    <main class="about-sec3 container">

        <div class="d-flex flex-column justify-content-center align-items-center flex-wrap text-sec">
            <h6 style="color:rgb(199, 129, 0) ;">Lorem Ipsum</h6>
            <h1>Lorem Ipsum Lorem</h1>

        </div>


        <div class="d-flex flex-wrap justify-content-between mt-5" id="img-card-sec">
            <div>
                <div class="card" style="width: 22rem;" id="img-card">
                    <div class="bg-white d-flex flex-column w-75 text-center mb-5 ms-5">
                        <h4 class="mt-2">Lorem Ipsum</h4>
                        <h6 class="sb-card">Lorem</h6>
                    </div>
                </div>
            </div>
            <div>
                <div class="card" style="width: 22rem;" id="img-card">
                    <div class="bg-white d-flex flex-column w-75 text-center mb-5 ms-5">
                        <h4 class="mt-2">Lorem Ipsum</h4>
                        <h6 class="sb-card">Lorem</h6>
                    </div>
                </div>
            </div>
            <div>
                <div class="card" style="width: 22rem;" id="img-card">
                    <div class="bg-white d-flex flex-column w-75 text-center mb-5 ms-5">
                        <h4 class="mt-2">Lorem Ipsum</h4>
                        <h6 class="sb-card">Lorem</h6>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% endblock content %}